attrs==23.2.0
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cmd2==2.4.3
colorama==0.4.6
cryptography==42.0.8
fake-useragent==1.5.1
fpdf==1.7.2
get-nic==0.0.3
idna==3.7
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
netifaces==0.11.0
pillow==10.4.0
psutil==6.0.0
pycparser==2.22
pyOpenSSL==24.1.0
pyperclip==1.9.0
pyreadline3==3.4.1
python-nmap==0.7.1
pywin32==306
referencing==0.35.1
reportlab==4.2.2
requests==2.32.3
rpds-py==0.19.0
scapy==2.5.0
setuptools==70.3.0
urllib3==2.2.2
validator-collection==1.5.0
wcwidth==0.2.13
WMI==1.5.1
